body {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;

}
.main {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 2fr 6fr 2fr;
}
h2 {
     grid-column: 2;
     grid-row: 1;
     text-align: center;
     font-size: 60px;
     font-family: 'PT Mono', monospace;

     
}
.grid {
    padding: 5%;
    height: 400px;
    width: 400px;
    grid-column: 2;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.rules {
    grid-column: 1;
}

.score {
    grid-column: 3;
}